    <div>
        <h4 class ="test">
            <a href="#">{{name}}_({{type_id}})
            </a>
        </h4>
        <div class ="hidden">{{description}}
            <br>
            {{#if times}}{{times}}
            {{/if}}
        </div>
    </div>

