    <div class="accordion">
        <h4 class ="handle">
            <a href="#">{{name}} ({{type}})
            </a>
        </h4>
        <div>{{description}}
            <br>
            {{#if times}}{{times}}
            {{/if}}
        </div>
    </div>

